---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
	return [
		{
			params: { projects: "altacinema" },
			props: {
				name: "Alta Cinema",
				desc: "Alta Cinema is my second movie application is an app where you will get information and list of now playing movies, popular, detail movie & list favorite movies page with new design. The application content is powered bt TMDB API.",
			},
		},
		{
			params: { projects: "ikuzport" },
			props: {
				name: "Ikuzport",
				desc: "Ikuzports is a wesbite to help you to find people who have the same hobbies as you, find people in the country with the same hobbies as you and play together with them you can also host an event to gather a lot of people to do the same hobbies as you.",
			},
		},
		{
			params: { projects: "dashboard" },
			props: {
				name: "Mentee-dashboard",
				desc: "Mentee Dashboard is an online reporting website dashboard that manages data simulations, classes, users & mentors from Alterra Academy. we made this with tech stack ReactJS, Tailwind CSS withcustomized components DaisyUI, SweetAlert, & React Icons.",
			},
		},
		{
			params: { projects: "holistay" },
			props: {
				name: "holistay",
				desc: "Holistay is a web app marketplace for homestays and short-term experiences. we made this with library NextJS Javascript, React Cookies, Redux, react Icons, and Tailwind CSS with customized component DaisyUI. we were inspired by Airbnb but with our own sense of design.",
			},
		},
	];
}

const { projects } = Astro.params;
const { name, desc } = Astro.props;
---

<MainLayout>
	<section class="mx-auto w-6/12">
		<div class="flex justify-center">
			<img
				src=`../../assets/projects/${projects}.png`
				width="500"
				class="rounded min-w-36 shadow-xl drop-shadow-[10px_1px_65px_rgba(89,199,231,0.8)]"
			/>
		</div>
		<h1 class="font-bold text-center p-2 text-2xl">{name}</h1>
		<p class="text-justify">{desc}</p>
	</section>
</MainLayout>
